/*---Hero Image---*/
.hero-image {
    height: 75vh;
    width: 100%;
      background: url(../images/office-desk.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  
}

/*---Footer---*/
.footer {
    min-height: 100px;
    background-color: red; 
    margin: 0;
}


.all-icon {
text-align: center;
margin: 0
}

.footer-title {
    text-align: center;
}

.dref {
    display: inline-block;
    position: absolute;
    right: 10px;
}

/*---Home Page section---*/

.center-image {
      margin: auto;
  width: 60%;
  height: 200px;
  border: 3px solid #73AD21;
  padding: 10px;
   background: url(https://sc02.alicdn.com/kf/HTB1NZysKFXXXXaBXpXXq6xXFXXX2/Men-s-Business-Suits-Thin-Wool-Suit.jpg_350x350.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
}

.personal-info {
    text-align: center;
}

.personal-info span {
display: block;
}

 
