@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700|Oxygen:300,400,700&display=swap');

/*---Hero Image---*/
.hero-image {
    height: 75vh;
    width: 100%;
      background: url(../images/office-desk.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  
}

/*---navbar---*/

.nav-style {
    background-color: #786e79;
    /*height: 10vh;*/
   
}

.nav-style li {
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}

.nav-style a {
    color: white;
}

.nav-style a:hover {
    color: black;
}

.cv-btn {
    background-color: #150E0C;
    color: white;
    border-radius: 20px;
    height: 35px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400; 
    width: 150px;
    font-size: 15px;
    border: none;
}

.cv-btn:active,
.cv-btn:hover, 
.cv-btn:focus, 
.cv-btn:active:focus {
    font-weight: 700;
    background-color: #150E0C;
    border:none;
    color: white;
}
.nav-style .navbar-brand {
    color: white;
}
/*---Footer---*/
.footer {
    min-height: 100px;
    background-color: #786e79; 
    margin: 0;
    color: white;
    font-family: 'Oswald', sans-serif;
}


.all-icon {
text-align: center;
margin: auto;
}

.all-icon li {
font-size: 25px;
color: white; 
font-family: 'Oxygen', sans-serif;
}


.all-icon a {
    color: white;
}


.all-icon a:hover {
    color: black;
    text-decoration: none;
}

.footer-title h3 {
    text-align: center;
    font-size: 40px;
}

.footer-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.list-inline-item {
    padding-right: 15px;
}

.btn-dref {
    background-color: #150E0C;
    color: white;
    border-radius: 20px;
    height: 50px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400; 
    width: 250px;
    font-size: 20px;
    border: none;
    /*position: relative;
    top: 8px;*/
}

.btn-dref:active,
.btn-dref:hover, 
.btn-dref:focus, 
.btn-dref:active:focus {
    font-weight: 700;
    background-color: #150E0C;
    border:none;
    color: white;
}

/*---Home Page section---*/

.pic-bio {
    background-color: #aaa6a7;
    color: white;
}

.center-image {
      margin: auto;
  width: 250px;
  height: 250px;
  padding: 10px;
  background: url(../images/man-in-suit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  margin-top: 50px;
}

.personal-info {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
}

.personal-info h2,
.personal-info h3 {
    font-weight: 500;
}
.personal-info span {
display: block;
}

 .bio {
     margin: 75px 10px 25px 5px
 }

.bio-colour {
    background-color: #e7dfd2;
}

.bio h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 60px;
}

.bio p {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 19px;
}

/*--projects/skills--*/

.slide-style {
    color: #150E0C;
}
.slide img {
    height: 75vh;
}

.progress {
    margin-bottom: 10px;
    height: 25px;
}


.slide h5 {
    font-family: 'Oxygen', sans-serif;
    font-weight: 600; 
}

.slide p {
    font-family: 'Oxygen', sans-serif;
}

.skill-title {
     font-family: 'Oswald', sans-serif;
}

.progress-type {
   position: absolute;
   left: 33px;
   top: auto;
   padding: 3px 15px 2px 10px;
}